
#mainInputForm {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#mainInputForm > div {
    display: flex;
    margin-bottom: 1vw;
    height: 10vh;
    max-height: 6vw;

    /* flex 적용 후 내용물 가운데 정렬 */
    justify-content: center;
    align-items: center;

}

#mainInputForm label {
    margin-right: 1vw;
    font-size: 4vw;
    font-weight: bold;
    /*min-width: 15vw;*/

    color: #fff;
    flex-grow: 1;
    /* 텍스트 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

}

#mainInputForm input {
    flex-grow: 1;
    font-size: 2.2vw;
    /*position: absolute;*/
    /*right: 5vw;*/

    box-sizing: border-box;
    padding: 0.5vw;
    border: none;
    border-radius: 1vw;
}

#mainInputForm > div:last-child {
    margin-top: 2vh;

    /* 텍스트 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainInputForm button.mainButton,
#mainInputForm a.mainButton {
    border: none;
    flex-basis: 50%; /* 버튼의 비율 */

    box-sizing: border-box;
    padding: 3vw;
    /*min-width: 18vw;*/
    /*min-height: 5vw;*/
    /*max-height: 1vh;*/
}

#mainPage #mainBox {
    height: 70%;
}

#mainPage .small {
    font-size: 2.5vw;
}

@media (max-width: 1000px) {

/*    #mainInputForm label {*/
/*        font-size: 4vw;*/
/*        font-weight: bold;*/
/*        min-width: 17vw;*/
/*    }*/

/*    button.mainButton, a.mainButton {*/
/*        flex-basis: 50%; !* 버튼의 비율 *!*/
/*        padding: 0;*/

/*        box-sizing: border-box;*/
/*        min-width: 18vw;*/
/*        min-height: 6vh;*/
/*    }*/
}