<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>AICC Project2</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/template.js"></script>
</head>
<body>
<div id="mainPage">
    <img src="images/map_001.png"/>
    <div id="mainBox">
        <h1> <%= userId %>님 환영합니다.</h1>
        <div id="mainMenu">
            <a href="/map" class="mainButton">둘러보기</a>
            <a href="/userManage" class="mainButton">마이페이지</a>
            <a href="/board" class="mainButton">게시판</a>
            <a href="/pwChange" class="mainButton">비밀번호변경</a>
            <a href="/userDelete" class="mainButton">회원삭제</a>
        </div>
    </div>
</div>
</body>
</html>
