<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/map.css">
    <link rel="stylesheet" href="./css/dragdrop.css">
    <script src="./js/dragdrop.js"></script>
</head>
<body>
<!--지역에 따른-->
<div id="MapContainer" class="drop-area">
    <% for(let i = 0; i < srcPath.length; i++){ %>
        <div class="dragable" style="top:<%= pos_y[i] %>vh;left:<%= pos_x[i] %>vw">
            <img src="<%= srcPath[i] %>" >
        </div>
    <% } %>
</div>

</body>
</html>