<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/map.css">
    <link rel="stylesheet" href="./css/dragdrop.css">
    <script src="./js/map_Common.js"></script>
    <script src="./js/map_dragdrop.js"></script>
    <script src="./js/map_dragImage.js"></script>
    <script src="./js/map_Btn_addPicture.js"></script>
    <script src="./js/sendImageDataToServer.js"></script>
    <script src="./js/map_Btn_delPicture.js"></script>
</head>
<body>
<button id="btn_addHotSpot">장소추가</button>
<button id="btn_delHotSpot">장소삭제</button>
<!--지역에 따른-->
<div id="MapContainer" class="drop-area">
    <% for(let i = 0; i < srcPath.length; i++){ %>
        <div class="draggable" style="top:<%= pos_y[i] %>vh;left:<%= pos_x[i] %>vw">
            <img src="<%= srcPath[i] %>" >
        </div>
    <% } %>
</div>

</body>
</html>