<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>AICC Project2</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login.css">

    <script src="js/template.js"></script>
    <script>
        alert("유저ID가 (<%= userId%>)이고, PW가 (<%= userPw%>)인 계정이 없습니다.")
    </script>
</head>
<body>
<div id="mainPage">
    <img src="images/map_001.png"/>
    <div id="mainBox">
        <h1>유저 ID 혹은 PW가 틀렸습니다.</h1>
        <form id="form_Login" action="/userDelete" method="post">
            <div>
                <label for="userId">아이디</label>
                <input type="text" id="userId" name="userId" required>
            </div>
            <div>
                <label for="userPw">비밀번호</label>
                <input type="password" id="userPw" name="userPw" required>
            </div>
            <div>
                <button type="submit" class="mainButton">회원삭제</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>