.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.button {
    background-color: #6694a6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 12px;

}

.button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 70%;
    border-radius: 5px;
    margin: 0 auto;
}


/* 홀수행에 대한 스타일 */
tbody tr:nth-child(odd) {
    background-color: #cceeff;
}

/* 짝수행에 대한 스타일 */
tbody tr:nth-child(even) {
    background-color: #ffffff;
}
td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    font-family: sans-serif;
    background-color: #f2f2f2;
    font-size: 24px;
    text-align: center;
    padding: 9px;
}

h2 {
    text-align: center;
    font-size: 34px;
}

.paging {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}