        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        h1 {
            margin-left: 45px;
        }
        form {
            max-width: 600px;
            margin: 25px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
            margin-left: 25px;
            font-weight: bold;
        }

        input[type="text"], textarea {
            width: 100%;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        .button-group {
            display: flex;
            justify-content: space-between;
        }

        .button-group a, .button-group input[type="submit"] {
            flex: 1;
            margin: 5px;
            background-color: #788a93;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }

        .button-group a:hover, .button-group input[type="submit"]:hover {
            background-color: #738993;
        }